body {
	margin:0;
	padding:0;
	overflow:hidden;
}
#nav-hier-div {
	display:none;
}

#nav-hier {
	text-align:center;
}
#nav-hier input {
	font-weight:bold;
	background:transparent;
	border:none;
}
#nav-hier input:hover {
	background:#DDD;
	cursor:pointer;
}
#nav-title {
	width:100%;
}

#tbContainer {
	display:none;
}

#top-div{
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	margin:0;
	padding:0;
	overflow:hidden;
}

#div1 {
	width:100%;
	
}
#div2 {
	width:100%;
}

#divb {
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	overflow:hidden;
	background:white;
	border:1px black solid;
	display:none;

}

#close-bottom, #open-bottom{
	background:#EEE;
	cursor:pointer;
	height:20px;
	text-align:center;
	border-bottom:1px solid black;
}
#open-bottom {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	border-bottom:1px solid black;
	border-top:1px solid black;
}

#bottom {  
	position:relative;
	height:300px;
	overflow:auto;
}
#dictc {
	position:relative;
	height:100%; 
	overflow:auto;
	padding:0 10px 0 10px;
}
#odif {
	position:relative;
	width:100%; 
	overflow:auto;
}
#difout {

}
#cdif {

}
#dif {

padding:0 20px;
 
}


#div1 > div {
	float:left;
}


#content{
	position:absolute;
	bottom:0px;
	top:0px;
	left:0px;
	right:0px;
	margin:0;
	padding:0;	
	overflow:auto;
}


