body, .div {
	margin:0;
	padding:0;
}
#nav-hier {
	text-align:center;
}
#nav-hier input {
	font-weight:bold;
	background:transparent;
	border:none;
}
#nav-hier input:hover {
	background:#DDD;
	cursor:pointer;
}
#nav-table select {
	width:100%;
}
#nav-table option {
	font-size:10pt;
	height:20px;
	font-family:Arial
}
#nav-title {
	width:100%;
}
#nav-sub select {
	width:80%;
}
#nav-sub option {
	font-family:Arial;
	font-size:10pt;
	height:22px;
}
#parent{
	position:absolute;
	height:100%;
	margin:0;
	padding:0;
	width:100%;
}

#div1 {
	float:left;
	width:100%;
	
}
#div2 {
	float:left;
	width:100%;
}

#divb {
	position:absolute;
	width:100%;
	bottom:0px;
	max-height:300px;
	overflow:scroll;
	background:white;
	border:1px black solid;

}


#div1 > div {
	float:left;
}


#content{

}


